/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*font-family: "Poppins", sans-serif;*/

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Medium.eot');
    src: url('../fonts/Rawline-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-Medium.woff2') format('woff2'),
        url('../fonts/Rawline-Medium.woff') format('woff'),
        url('../fonts/Rawline-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-SemiBold.eot');
    src: url('../fonts/Rawline-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-SemiBold.woff2') format('woff2'),
        url('../fonts/Rawline-SemiBold.woff') format('woff'),
        url('../fonts/Rawline-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Regular.eot');
    src: url('../fonts/Rawline-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-Regular.woff2') format('woff2'),
        url('../fonts/Rawline-Regular.woff') format('woff'),
        url('../fonts/Rawline-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Bold.eot');
    src: url('../fonts/Rawline-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-Bold.woff2') format('woff2'),
        url('../fonts/Rawline-Bold.woff') format('woff'),
        url('../fonts/Rawline-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-ExtraBold.eot');
    src: url('../fonts/Rawline-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-ExtraBold.woff2') format('woff2'),
        url('../fonts/Rawline-ExtraBold.woff') format('woff'),
        url('../fonts/Rawline-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Black.eot');
    src: url('../fonts/Rawline-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-Black.woff2') format('woff2'),
        url('../fonts/Rawline-Black.woff') format('woff'),
        url('../fonts/Rawline-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; margin: 0; padding: 0 }
body { font-size:17px; color:#ffffff; margin:0; padding:0; font-family: "Rawline", sans-serif; font-weight:400;}
a { color: #17293e; text-decoration: none; transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear;-webkit-transition: all 300ms linear; }
a:focus { outline:none; text-decoration:none; color:#3c97ac; }
a:hover, a:active { outline: 0; text-decoration:none; color:#3c97ac;}

p { margin:0 0 20px 0; line-height:25px; }
ol, ul {margin: 0 0 20px 0; padding: 0px 0 0 20px;}
table{border-collapse:collapse;border-spacing:0}
hr { background-color: rgba(0, 0, 0, 0.1); border: 0; height: 1px; margin-bottom: 23px;}

h1, h2, h3, h4, h5, h6 { clear: both; font-weight: 900; color: #ffffff; font-family: "Rawline", sans-serif; line-height: 1.2; margin: 0px 0 15px; text-transform:uppercase; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-size: 50px; line-height: 70px;}
h2 { font-size: 50px; line-height: 60px;}
h3 { font-size: 35px; line-height: 45px;}
h4 { font-size: 24px;}
h5 { font-size: 22px;}
h6 { font-size: 20px;}

@media (max-width: 1199px) {
    body { font-size:16px; }
    h1 { font-size: 40px; line-height: 50px;}
    h2 { font-size: 40px; line-height: 48px;}
    h3 { font-size: 30px; line-height: 40px;}
    p { line-height:24px; }
}

@media (max-width: 991px) {
    h1 { font-size: 36px; line-height: 45px;}
    h2 { font-size: 32px; line-height: 40px;}
    h3 { font-size: 28px; line-height: 35px;}
}

@media (max-width: 767px) {
    h1 { font-size: 34px; line-height: 40px;}
    h2 { font-size: 30px; line-height: 36px;}
    h3 { font-size: 26px; line-height: 32px;}
}

img{ max-width:100%; border: 0;}
input:not([type="radio"]):not([type="checkbox"]){-webkit-appearance:none; -webkit-border-radius:0px; border:none;}
input, button, textarea, select { border:none; outline:none; font-family:'Rawline', Arial, Helvetica, sans-serif;  font-size: 18px; line-height: 30px; color: #ffffff; padding: 20px 20px 20px 20px; border-radius: 0px;}
input[type=submit] , button { cursor:pointer; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all  0.4s ease-in-out; }

input:-webkit-autofill {-webkit-box-shadow: 0 0 0 30px white inset;}

.UploadCV input[type="file"]{width: 100%; height: 52px; padding: 12px 20px 12px 50px; font-size: 14px; line-height: 1.42857143; color: #555; background-image: none; background-color: #fff; border-radius: 4px; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); margin-bottom: 10px; border: 2px solid #e6ecef; position: relative; -moz-padding-top: 0px;
}
.UploadCV input::-webkit-file-upload-button {visibility: hidden;}
.UploadCV input::before { content: 'Select some files'; display: inline-block; background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#E3E3E3)); background: -webkit-linear-gradient(top, #F9F9F9, #E3E3E3); background: -o-linear-gradient(top, #F9F9F9, #E3E3E3); background: -moz-linear-gradient(top, #F9F9F9, #E3E3E3); background: linear-gradient(top, #F9F9F9, #E3E3E3); border: 1px solid #e6ecef; border-radius: 2px 0 0 2px; padding: 14px 8px; outline: none; white-space: nowrap; -webkit-user-select: none; cursor: pointer; font-weight: 400; font-size: 10pt; color: #555; position: absolute; left: 0; top: 0px; height: 100%; background: #e6ecef;
}
.UploadCV input:hover::before {border-color: #e6ecef;}
@-moz-document url-prefix() {
  .careers-form .about-us-form .UploadCV input[type="file"] { padding:0;}
}

::-webkit-selection { background-color: #47d5ff; color: #fff; text-shadow: none;}
::-moz-selection { background-color: #47d5ff; color: #fff; text-shadow: none;}
::selection { background-color: #47d5ff; color: #fff; text-shadow: none;}

::-webkit-input-placeholder { color: #0C3C4D; opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
::-moz-placeholder { color: #0C3C4D; opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
:-ms-input-placeholder { color: #0C3C4D; opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}

/*blue background remove button on click */
.button{-webkit-tap-highlight-color: transparent;}

@media (max-width: 1199px) {
    input, button, textarea, select{padding: 15px 20px 15px 20px;}
}
/* Common Css Start Here */

.pullLeft { float: left; }
.pullRight { float: right; }
.hide { display: none; }
.show { display: block; }
.txtL { text-align: left; }
.txtR { text-align: right; }
.txtC { text-align:center; }
.clear { clear: both; }

.alignleft{ float:left; margin-right:15px; margin-top:5px; margin-bottom:10px !important;}
.alignright{ float:right; margin-left:15px; margin-top:5px; margin-bottom:10px !important;}

select { background-image:url('./images/down-arrow.png');  background-position: right 30px center; background-repeat:no-repeat; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand { display: none; }

/* Button CSS */
.btn-primary { background-color:transparent; border: 3px solid #fff; border-radius: 0px; color:#ffffff; display: inline-block; font-size: 17px; font-weight: 600; line-height: 28px; letter-spacing: 1px; font-family: "Rawline", sans-serif; text-align: center; padding: 19px 35px 19px 35px; text-transform: uppercase; position: relative; }
.btn-primary b{font-weight: 900;}
.btn-primary:focus, .btn-primary:hover { background-color:#ffffff; color:#000000; }

@media (max-width: 1199px) {
    .btn-primary{ font-size: 16px; padding:17px 30px 17px 30px; line-height:20px; }
}

@media (max-width: 991px) {
    .btn-primary{ font-size: 15px; padding: 12px 25px 12px 25px; }
}

/*-----Common Css End Here-------*/

/*---Header---*/
#header{ padding:21px 0 21px 0; background-color: #000000;}
#header .logo img{ width: 211px;}
#header .shop-menu { width: 113px; height: 54px; background-image: url(../images/shop-menu-bg.svg); background-repeat: no-repeat; background-size: contain; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
#header .shop-menu a{ font-size:14px; font-weight:900; color:#ffffff; text-transform: uppercase; background-color:#000; width: 100%; text-align: center; }

@media (max-width: 991px) {
    #header .shop-menu { width: 100px;}
}

@media (max-width: 767px) {
    #header .shop-menu { margin-right:50px; }
}

/*Nav*/
.nav-menu{ float:right; padding: 8px 0;}
body.mobile-open{ overflow: hidden; }
.menulinks { display:none;  text-align:center; width:41px; height:35px; line-height:35px; color:#fff; font-size:22px; position:absolute; top:0px; right:15px; cursor:pointer; }
ul.mainmenu { vertical-align:middle; display:inline-block; margin:0; padding:0; list-style:none; text-align:left; }
ul.mainmenu > li { display:inline-block; padding:0 18px; position:relative; }
ul.mainmenu > li:last-child{ padding-right:0; }
ul.mainmenu > li > a:link, 
ul.mainmenu > li > a:visited { padding:0px 0px 10px 0px; display:inline-block; text-align:center; font-size:15px; font-weight:600; color:#ffffff; font-family: "Rawline", sans-serif; line-height:18px; text-transform: uppercase; position:relative; }
ul.mainmenu > li > a:before{content: ""; background-image: url(../images/nav-active.svg); background-repeat:no-repeat; background-size:100% 14px; width: 100%; height: 10px; position: absolute; left: 0; bottom: 0; transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear;-webkit-transition: all 300ms linear; opacity: 0;}
ul.mainmenu > li:hover > a, 
ul.mainmenu > li.current > a { color:#ffffff;}
ul.mainmenu > li.current > a { font-weight: 900;}
ul.mainmenu > li.current > a:before{opacity: 1;}
ul.mainmenu > li:hover > a:before{opacity: 1;}
    

/*ul.mainmenu > li.parent > a:before{content: ""; background-image: url(../images/down-arrow-white.svg); background-repeat: no-repeat; background-size: contain; position: relative; width: 14px; height: 8px; display: inline-block; margin-left: 4px; cursor: pointer; top: 6px; float: right; transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear;-webkit-transition: all 300ms linear;}*/
ul.mainmenu > li.parent > a ~ a:before{ display: none; }

ul.mainmenu ul { position:absolute; left:0; width:165px; padding:10px 5px; list-style:none; margin:0; background:rgb(0 0 0 / 85%); z-index:2; border-radius: 3px; display:none; }
ul.mainmenu ul li { position: relative; }
ul.mainmenu li li a:link, 
ul.mainmenu li li a:visited { font-family: "Rawline", sans-serif; color:#ffffff; font-size:15px; font-weight: 600; display:block; padding:7px 20px; }
ul.mainmenu li li a:hover { color: #03FF00; }
ul.mainmenu ul ul { position:absolute; left:100%; top: 0;  display:none; }


@media (min-width: 768px) {
    ul.mainmenu{ display: block !important; }
    ul.mainmenu li:hover > ul { display:block; }
    ul.mainmenu ul li:hover ul{ display: block; }
}

@media (max-width: 1199px) {
    #header .logo img{ width: 180px;}
    ul.mainmenu > li{padding: 0 10px;}
}
@media (max-width: 991px) {
    #header .logo img{ width: 120px;}
    ul.mainmenu > li{padding: 0 2px;}
    ul.mainmenu > li > a:link, 
    ul.mainmenu > li > a:visited{ font-size: 12px; padding: 0px 0px 6px 0px;}
}
 
@media (max-width: 767px) {
.menulinks { display:inline-block; top: 25px; } 
ul.mainmenu { text-align:left; position:absolute; top:88px; padding:0; right:0; width:100%; background:#000000; display:none; z-index:9999999; height: 100vh; }
ul.mainmenu > li { float:left; width:100%; padding:0px; margin:0; border-top:1px solid rgba(255,255,255,0.2); position:relative;  }
ul.mainmenu > li:first-child { border:none; }
ul.mainmenu > li > a:link, 
ul.mainmenu > li > a:visited { padding:10px 15px; font-size:16px; line-height: 34px; float:left; width:100%; border:none; text-align:left; color:#fff; }
ul.mainmenu > li > a:hover { background:rgba(255,255,255,0.2); }

a.menulinks i { display: inline; position: relative; top: -2px; margin-left: 0; -webkit-transition-duration: 0s;  -webkit-transition-delay: .2s; -moz-transition-duration: 0s;  -moz-transition-delay: .2s; transition-duration: 0s;  transition-delay: .2s; }
a.menulinks i:before, a.menulinks i:after { position: absolute; content: ''; left:0; }
a.menulinks i, a.menulinks i:before, a.menulinks i:after { width:35px; height:4px; background-color:#ffffff; display: inline-block; border-radius: 5px;}
a.menulinks i:before { margin-top: -10px; -webkit-transition-property: margin, -webkit-transform;  -webkit-transition-duration: .2s;  -webkit-transition-delay: .2s, 0; }
a.menulinks i:after { margin-top: 10px; -webkit-transition-property: margin, -webkit-transform;  -webkit-transition-duration: .2s; -webkit-transition-delay: .2s, 0; }
.mobile-open a.menulinks i { background-color: rgba(0, 0, 0, 0.0);  -webkit-transition-delay: .2s; -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); }
.mobile-open a.menulinks i:before { margin-top: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);  -webkit-transition-delay: 0, .2s; -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); }
.mobile-open a.menulinks i:after { margin-top: 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg);  -webkit-transition-delay: 0, .2s; -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0); }

ul.mainmenu > li > a.current:after { display:none; }
ul.mainmenu ul { position:relative; top:auto; left:auto; float:left; width:100%; }
ul.mainmenu ul li{ position:relative;}
ul.mainmenu li li a:link, ul.mainmenu li li a:visited{ padding:8px 15px 8px 25px;}
ul.mainmenu ul ul { position:relative; left:auto; top: auto; float:left; width:100%; }
ul.mainmenu ul ul li{ padding-left: 10px; }

a.child-triggerm { display: block !important; cursor: pointer; position: absolute !important; top: 0px; right: 0px; width:50px !important; min-width: 50px !important; height:38px !important; padding: 0 !important; border-left: 1px dotted rgba(255, 255, 255, .20); }
a.child-triggerm:hover { text-decoration: none; color:#fff;}
a.child-triggerm span { position: relative; top: 50%; margin: 0 auto !important;  -webkit-transition-duration: .2s; -moz-transition-duration: .2s;  transition-duration: .2s; }
a.child-triggerm span:after { position: absolute; content: ''; }
a.child-triggerm span, a.child-triggerm span:after { width: 10px; height: 1px; background-color:#fff; display: block; }
a.child-triggerm span:after { -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg);  -webkit-transition-duration: .2s; -moz-transition-duration: .2s; transition-duration: .2s; }
a.child-triggerm.child-open span:after { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg);  -webkit-transition-duration: .2s; -moz-transition-duration: .2s; transition-duration: .2s; }
a.child-triggerm.child-open span { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);  -webkit-transition-duration: .2s; -moz-transition-duration: .2s; transition-duration: .2s; }

a.child-triggerm:hover span, a.child-triggerm:hover span:after{ background-color:#fff;}
    
}
/*Nav end*/

/*Home Slider*/
.home-slider-section{ padding:0 12px; }
.accordion-group {overflow: hidden; margin: 0 auto; padding: 0; list-style: none; width: 100%; height: 700px; display: flex; align-items: center; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; transition: all 300ms ease; }
.accordion-group li {cursor: pointer; position: relative; display: flex; overflow: hidden; margin: 0; padding:0; list-style: none; width: 100px; height: inherit; background-position: center center; background-size: cover; background-repeat: no-repeat; -webkit-transition: all 250ms ease-in-out; -moz-transition: all 250ms ease-in-out; transition: all 250ms ease-in-out; }
.accordion-group li h3 { width: 100px;  position: relative; color: #fff; letter-spacing: 0.15rem; padding: 0;  font-weight: 900; text-transform: inherit; margin:0; background-color: rgb(0 0 0 / 50%);}
.accordion-group li h3 span{ display: inline-block; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg);  position: absolute; left:-80px; top: 50%; width:250px; white-space: nowrap; text-align: center;}
.accordion-group li .accordion-overlay {position: absolute; height: 100%; width:calc(100% - 10px); left: 0; top: 0; -webkit-transition: all 250ms ease-in-out; -moz-transition: all 250ms ease-in-out; transition: all 250ms ease-in-out; }
.accordion-group li section {display: flex; align-items: center; width: 100%; height: 100%; }
.accordion-group li section.big-section {width: 100%; }
.accordion-group li section article {display: table-cell; vertical-align: middle; padding: 4rem; position: relative; right: -200%; -webkit-transition: all 250ms ease-in-out; -moz-transition: all 250ms ease-in-out; transition: all 250ms ease-in-out; }
.accordion-group li section article h2 { margin-bottom:50px; }
.accordion-group li section article p:before,
.accordion-group li section article p:after {content: ""; display: block; height: 1px; }
.accordion-group li.out {width:calc(100% - 300px); }
.accordion-group li.out section article {right: 0; max-width: 1140px; margin-left: auto; margin-right: auto; }
.accordion-group li:nth-child(4) .accordion-overlay {background-color: #000; opacity: 0.8; }
.accordion-group li:nth-child(4).out .accordion-overlay {background-color: #000; opacity: 0.5; }
.accordion-group li:nth-child(3) .accordion-overlay {background-color: #000; opacity: 0.8; }
.accordion-group li:nth-child(3).out .accordion-overlay {background-color: #000; opacity: 0.5; }
.accordion-group li:nth-child(2) .accordion-overlay {background-color: #000; opacity: 0.8; }
.accordion-group li:nth-child(2).out .accordion-overlay {background-color: #000; opacity: 0.5; }
.accordion-group li:nth-child(1) .accordion-overlay {background-color: #000; opacity: 0.8; }
.accordion-group li:nth-child(1).out .accordion-overlay {background-color: #000; opacity: 0.5; }

@media (max-width: 991px){
    .accordion-group{ height:500px; }
    .accordion-group li section article{padding: 2rem;}
    .accordion-group li section article h2{font-size: 24px;line-height: 30px; margin-bottom: 30px;}
}

@media (max-width: 767px){
    .accordion-group{ height:350px; }
    .accordion-group li{ width:50px; }
    .accordion-group li .accordion-overlay{width: calc(100% - 5px);}
    .accordion-group li h3{ width:50px; font-size:20px; }
    .accordion-group li h3 span{ width:200px; }
    .accordion-group li.out { width: calc(100% - 150px);}
    .accordion-group li section article h2{font-size: 18px;line-height: 22px; margin-bottom: 20px;}
    .accordion-group li section article { padding: 1rem;}
    .accordion-group li section article .btn-primary{font-size: 13px; padding: 12px 10px 12px 10px;}
}

/*Video Section*/
.video-section{ background-color:#000; padding:123px 0 112px 0; background-repeat:no-repeat; background-size:cover; }
.video-section .video-overview{ max-width: 1184px; margin-left: auto; margin-right: auto; text-align:center; margin-bottom:42px; }
.video-section .video-overview h3 strong{ color: #03FF00;}
.video-section .video-overview h3 span{ font-weight: 600;}
.video-section .video-wrap{ width: 100%; height: 100%; min-height: 660px; max-width: 1184px; background-repeat: no-repeat; background-size: cover; background-position: center center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; margin:0 auto; }
.video-section .video-wrap:before{ content:''; width: 100%; height: 100%; background-color:#000; position: absolute; left: 0; top: 0; opacity:0; }
.video-section .video-wrap video{ width: 100%; height: 100%; object-fit: cover; position: relative; z-index: 1; display:none;}
.video-section .video-wrap .video-play-icon { position:absolute; left:calc(50% - 65px); top:calc(50% - 48px); width: 129px;  text-align: center;  display: flex; align-items: center; justify-content: center; cursor: pointer;}
.video-section .video-wrap.video-play video{ display:block; }    
.video-section .video-wrap.video-play .video-play-icon{ display:none; }
.video-section .video-wrap.video-play:before{ opacity:1; }
.video-section .btn-block{ margin-top:35px; text-align:center; }
.video-section .btn-block .btn-primary{ width:300px; max-width:100%; }

@media (max-width: 1399px){
    .video-section .video-wrap video{height: 100%;}
}
@media (max-width: 1199px){
    .video-section{ padding:80px 0 80px 0;}
    .video-section .video-wrap{ min-height: 560px;}
    .video-section .video-wrap .video-play-icon{width: 80px; left:calc(50% - 40px); top:calc(50% - 40px);}
    .video-section .btn-block .btn-primary{ width:252px;}
}

@media (max-width: 991px){
    .video-section .video-wrap{ min-height: 460px;}
}

@media (max-width: 767px){
    .video-section{ padding:60px 0 60px 0;}
    .video-section .video-wrap{min-height: 220px;}
}


/*What We do Section*/
.what-we-do-section{ text-align:center; padding:120px 0; background-color:#000; }
.what-we-do-section h2{ margin-bottom:60px; }
.what-we-do-section .service{ margin-bottom:60px; }
.what-we-do-section .service svg path{fill: white; transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; -webkit-transition: all 300ms linear;}
.what-we-do-section .service svg rect{fill: white;transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; -webkit-transition: all 300ms linear;}
.what-we-do-section .service svg text{fill: black; font-weight: 900; transition: all 300ms linear;
    -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear; -webkit-transition: all 300ms linear;}
.what-we-do-section .service svg:hover path{fill: #007CBE;}
.what-we-do-section .service svg:hover rect{fill: black;}
.what-we-do-section .service svg:hover text{fill: white;}
.what-we-do-section .what-we-do-content{ margin-bottom:60px; font-size: 18px; font-weight: 600; }
.what-we-do-section .what-we-do-content p{ line-height:26px }
.what-we-do-section .btn-block .btn-primary{ margin:0 9px; min-width:252px; }

@media (max-width: 1199px){
    .what-we-do-section{ padding:80px 0;}
    .what-we-do-section h2{ margin-bottom:40px; }
    .what-we-do-section .service{ margin-bottom:30px; }
    .what-we-do-section .service svg{ max-width:220px; }
    .what-we-do-section .what-we-do-content{ font-size:16px; }
}

@media (max-width: 767px){
    .what-we-do-section{ padding:60px 0;}
    .what-we-do-section .service{ margin-bottom:10px; }
    .what-we-do-section .btn-block .btn-primary{ margin:10px; }
    .what-we-do-section .what-we-do-content{ margin-bottom:40px; }
}

/*Partners Section*/
.partners-section{background-color: #151517; padding: 100px 0 75px 0;}
.partners-section .title h2{ text-align: center; margin-bottom: 50px;}
.partners-section .title h2 span{ text-align: center; padding-bottom:50px; display:inline-block; position:relative; }
.partners-section .title h2 span:after{content: "";background-image: url(../images/line-decoration.svg); background-repeat: no-repeat; background-position: right bottom 10px; background-size: 258px auto; width: 258px; height: 65px; position: absolute; right: -40px; bottom: 0;}
.partners-section .title h2 span i{background-image: url(../images/love-o.svg); background-repeat: no-repeat; width: 44px; height: 38px; display: inline-block; margin: 0 -5px 0 8px;}
.partners-section .partners-wrap .partners-logo{ width: 16.66666666666667%; padding: 0 15px; margin-bottom: 30px; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.partners-section .partners-wrap .partners-logo img{ object-fit: contain; }

.partners-section .slick-list {padding-bottom: 30px !important; }
.partners-section .slick-list .slick-track{display: flex; align-items: center;}

/*slick slider*/
.slick-slide:focus {outline: none; }
.slick-dots {position: absolute; left:0; right: 0; bottom:0px; text-align: center; margin: 0; padding: 0; }
.slick-dots li {position: relative; display: inline-block; width: 18px; height: 18px; margin: 0 6px; padding: 0; cursor: pointer;}
.slick-dots li button {font-size: 0; line-height: 0; display: block; width: 100%; height: 100%; cursor: pointer; color: transparent; border:2px solid #ffffff; background-color: transparent; border-radius: 50%; padding: 0;}
.slick-dots li.slick-active button{ background-color: #03FF00; border-color:#03FF00; }

@media (min-width: 1200px) {
    .partners-section .partners-wrap .partners-logo img{ width:100%; max-height: 140px;}    
}

@media (max-width: 1199px) {
    .partners-section{ padding: 80px 0 75px 0;}
    .partners-section .title h2{ margin-bottom:30px; }
    .partners-section .title h2 span:after{background-size: 210px auto;}
    .partners-section .partners-wrap .partners-logo{padding: 0 15px;}
    .slick-dots li { width: 14px; height: 14px; margin: 0 4px;}
}

@media (max-width: 991px) {
    .partners-section .partners-wrap .row{ -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
    .partners-section .partners-wrap .partners-logo{ width: 25%; }
    .partners-section .partners-wrap .partners-logo img{ max-width: 150px; } 
}

@media (max-width: 767px) {
    .partners-section{ padding: 60px 0 60px 0;}
    .partners-section .title h2 span:after{ right:0; background-size: 150px auto;}
    .partners-section .partners-wrap .partners-logo{ width: 50%; margin-bottom: 20px; }
}

@media (max-width: 374px) {
    .partners-section .partners-wrap .partners-logo img{ max-width: 100%; } 
}

/*Numbers Section*/
.numbers-section{background-color: #000000; padding: 100px 0 100px 0; position: relative;}
.numbers-section:after{content: "";background-image: url(../images/line-decoration.svg); background-repeat: no-repeat; background-position: right bottom 10px; background-size: 258px auto; width: 258px; height: 65px; position: absolute; right:0px; bottom: -26px;}
.numbers-section .title h2{ text-align: center; margin-bottom: 60px;}
.numbers-section .title h2 i{background-image: url(../images/love-o.svg); background-repeat: no-repeat; width: 44px; height: 38px; display: inline-block; margin: 0 -5px 0 8px;}

#counter { padding: 0px; margin: 0 auto; display: flex; justify-content: space-between; }
#counter li { text-align: center; font-size: 50px; font-weight: 900; color: #03FF00; list-style:none; width:16.66666666666667%; text-transform:uppercase; }
#counter li h6{ font-size: 19px; font-weight:900; color: #03FF00; margin-top: 20px;}
.numbers-section.number-four-column #counter li{ width: 25%; }

@media (max-width: 1399px) {
    #counter li h6{ font-size: 17px;}
}

@media (max-width: 1199px) {
    .numbers-section{ padding: 80px 0 70px 0;}
    .numbers-section:after{background-size: 220px auto;}
    .numbers-section .title h2{ margin-bottom:30px; }
    #counter li{ font-size:40px; }
    #counter li h6 {font-size: 14px; margin-top:10px; }
}

@media (max-width: 991px) {
    #counter{ -ms-flex-wrap: wrap; flex-wrap: wrap; }
    #counter li{ font-size:30px; width:33.33%; }
    #counter li h6{ margin-bottom:20px; }
}

@media (max-width: 767px) {
    #counter li{ width:50%; }
}

/*Our Trophy Section*/
.our-trophy-section{ padding: 100px 0; background-color:#000000; background-repeat: no-repeat; background-size: cover; background-position: center center; text-align: center;}
.our-trophy-section .title{ margin-bottom:60px; }
.our-trophy-section .title h3{ font-size:37px; }
.our-trophy-section .our-trophy-wrap .slick-list{ padding-bottom:50px; }
.our-trophy-section .our-trophy-wrap .awards-item{ padding:0 15px; }
.our-trophy-section .our-trophy-wrap .awards-item .awards-logo{ margin-bottom:25px; }
.our-trophy-section .our-trophy-wrap .awards-item .awards-logo img{ display:inline-block; filter: grayscale(1); transition: all 300ms linear; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -ms-transition: all 300ms linear;-webkit-transition: all 300ms linear;}
.our-trophy-section .our-trophy-wrap .awards-item .awards-logo img:hover{filter: grayscale(0);}
.our-trophy-section .our-trophy-wrap .awards-item h6{ font-size:16px; font-weight:900; line-height:24px; margin-bottom:10px; }
.our-trophy-section .our-trophy-wrap .awards-item p{ font-size:16px; font-weight:500; line-height:24px; }

@media (max-width: 1199px) {
    .our-trophy-section{ padding: 80px 0;}
    .our-trophy-section .title h3{ font-size:30px; }
}

@media (max-width: 991px) {
    .our-trophy-section .title h3{ font-size:26px; }
}

/*News Section*/
.news-section{ background-color:#000; }
.news-section .title{ text-align:center; padding:90px 0 62px 0; position:relative; }
.news-section .title .green-man{ position:absolute; right:0; bottom:10px; }
.news-section .news-wrap{ overflow:hidden; height:600px; }
.news-section .news-wrap .news{ display:flex; flex-wrap:wrap; transform: rotate(-5deg) translateY(-10%); }
.news-section .news-wrap .news .news-item{ width:33%; }
.news-section .news-wrap .news .news-item img{ width:100%; height:200px; object-fit:cover; }

.news-section #newsModal .modal-content{ background-color:#000; }
.news-section #newsModal .modal-content .modal-body{ padding:0; }
.news-section #newsModal .modal-content .modal-body .btn-close{ position:absolute; right:10px; top:6px; color:#fff; font-size:27px; font-weight:900; opacity:1; }
.news-section #newsModal .modal-content .modal-body .news-post-pic{ height:100%; }
.news-section #newsModal .modal-content .modal-body .news-post-pic img{ height:100%; object-fit:cover; }
.news-section #newsModal .modal-content .modal-body .news-content{ padding:50px 50px 50px 10px; }
.news-section #newsModal .modal-content .modal-body .news-content h4{ font-size:27px; line-height:34px; margin-bottom:20px; }
.news-section #newsModal .modal-content .modal-body .news-content p{ font-size:16px; font-weight:600; line-height:22px; }
.news-section #newsModal .modal-content .modal-body .news-content .btn-primary{ min-width:250px; margin-top:10px; }

@media (max-width: 991px) {
    .news-section .news-wrap{ overflow:hidden; height:auto; }
    .news-section .news-wrap .news{transform: rotate(0deg) translateY(0%);}
    .news-section .news-wrap .news .news-item img{ height:100px;}
    .news-section #newsModal .modal-content .modal-body .news-content{ padding:20px; }
}

@media (max-width: 767px) {
    .news-section .title{ padding:40px 0 20px 0; }
    .news-section .title .green-man{ width:110px; }
    .news-section .news-wrap .news .news-item{ width:50%; }
}

/*--Footer--*/
.site-footer { width: 100%; display: inline-block;  }
.site-footer .footer-top{ background-color:#000; background-image: url(../images/footer-bg.png); background-repeat: no-repeat; background-size: cover; background-position: center; padding:100px 0px; font-size: 15px; color:#ffffff; font-weight: 600; position:relative; }
.site-footer .footer-top .container{ max-width:1042px; }
.site-footer .footer-top .footer-logo{ position:absolute; left:-120px; }
.site-footer .footer-top .footer-logo img{ width:346px; }

.site-footer .footer-top h3{ font-size: 30px; font-weight: 900; color:#fff; letter-spacing: 1px;}

.site-footer .footer-top a{ color:#ffffff;}
.site-footer .footer-top a:hover{ color:#03FF00;} 
.site-footer .footer-top p{margin: 0 0 7px 0; letter-spacing: 0.5px;}  

.site-footer .footer-top .footer-menu{ text-align:center; }
.site-footer .footer-top .footer-menu ul{ padding:0; margin:0 0 40px 0; list-style:none; }
.site-footer .footer-top .footer-menu ul li{ line-height: 24px; margin:0; }

.site-footer .footer-top .get-in-touch{ text-align:center; }
.site-footer .footer-top .get-in-touch .call p{ margin:0; }
.site-footer .footer-top .get-in-touch h6{ font-size:15px; margin: 26px 0 1px 0; letter-spacing:0.5px; }

.site-footer .footer-top .get-in-touch .social-media ul{ margin:22px 0 0 0; padding: 0; list-style:none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.site-footer .footer-top .get-in-touch .social-media ul li{ display:inline-block; margin:0 9px 0 9px; }
.site-footer .footer-top .get-in-touch .social-media ul li a{display: flex; align-items: center; justify-content: center; color:#ffffff; font-size:31px; }
.site-footer .footer-top .get-in-touch .social-media ul li a img{ width: 26px; }
.site-footer .footer-top .get-in-touch .social-media ul li a:hover{ color:#03FF00;}


.copyright {background-color: #fff; font-size: 11px; position: relative; padding: 12px 10px; color:#01232A; font-family: "Poppins", sans-serif; text-transform: uppercase; letter-spacing: 0.5px;}
.copyright .copy-menu{ text-align:left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around;}
.copyright ul{ margin:0; padding:0; }
.copyright ul li{ display: inline-block; margin:0px; padding:0 7px; color:#002335; line-height: 21px; position:relative; }
.copyright ul li:before{ content:"|"; position:absolute; left:-3px; top:0; }
.copyright ul li:first-child:before{ display:none; }
.copyright ul li:first-child{ padding-left:0px; }
.copyright ul li:last-child{ padding-right:0px; }
.copyright ul li a{ color:#002335; }
.copyright ul li a:hover { color:#002335; text-decoration:underline; }

@media (max-width: 1499px) {
    .site-footer .footer-top .footer-logo img{ width:300px; }
}

@media (max-width: 1366px) {
    .site-footer .footer-top .footer-logo{left: -95px;}
    .site-footer .footer-top .footer-logo img{ width:250px; }
    .copyright .container{ max-width:100%; }
}

@media (max-width: 1199px) {
    .site-footer .footer-top{ padding: 80px 0px;}
    .site-footer .footer-top h3{ font-size: 26px;}
    .site-footer .footer-top .footer-logo{left: -40px;}
    .site-footer .footer-top .footer-logo img{ width:120px; }
    .site-footer .footer-top .container{ max-width:900px; }
    .copyright .copy-menu{-ms-flex-wrap: wrap; flex-wrap: wrap;}
}

@media (max-width: 991px) {
    .copyright .copy-menu{ text-align:center; margin-top: 5px; }
    .site-footer .footer-top h3{ font-size: 24px;}
    .site-footer .footer-top .footer-logo{left: -30px;}
    .site-footer .footer-top .footer-logo img{ width:80px; }
}

@media (max-width: 767px) {
    .site-footer .footer-top .footer-logo{ margin-bottom:50px; position:static; text-align:center; }
    .site-footer .footer-top .footer-logo img{ width: 120px;} 
    .site-footer .footer-top .row div:last-child{ order:-1; }
}

/*About page*/
/*Hero Section*/
.inner-hero-section{ background-color: #000; background-repeat: no-repeat; background-size: cover; background-position: center center; padding: 100px 0 100px 0; position: relative; }
.inner-hero-section .hero-content{ max-width:800px; position: relative; }
.inner-hero-section .hero-content h1{ letter-spacing: 2px; position: relative;}
.inner-hero-section .hero-content h1 strong{ color: #03FF00;}
.inner-hero-section .hero-content h1 span{ font-weight: 600;}

@media (max-width: 1199px) {
    .inner-hero-section{padding: 80px 0 80px 0;}
}

@media (max-width: 991px) {
    .inner-hero-section{padding: 70px 0 70px 0;}
}

@media (max-width: 767px) {
    .inner-hero-section{padding: 60px 0 60px 0;}
    .inner-hero-section .hero-content{ text-align: center; }
}

/*Team Section*/
.team-section{background-color: #000000; background-repeat:no-repeat; background-size:cover; padding: 100px 0 100px 0;}
.team-section .title h2{ text-align: center; margin-bottom: 55px;}
.team-section .title h2 i{background-image: url(../images/love-o.svg); background-repeat: no-repeat; width: 44px; height: 38px; display: inline-block; margin: 0 -5px 0 8px;}
/* Tabs */
.members-tab {width: 100%; }
.members-tab ul#tabs-nav {list-style: none; margin: 0 0 40px 0; padding: 0px; text-align: center; }
.members-tab ul#tabs-nav li { display: inline-block; font-size: 30px; font-weight: 600; margin:0px 25px; padding:0px 0px 10px 0px; cursor: pointer; text-transform: uppercase; }
.members-tab ul#tabs-nav li b{ font-weight: 900; }
.members-tab ul#tabs-nav li:hover,
.members-tab ul#tabs-nav li.active { position: relative; }
.members-tab ul#tabs-nav li:hover:after,
.members-tab ul#tabs-nav li.active:after{ content: ""; width: 100%; height: 10px; background: url(../images/tabs-underline.svg) no-repeat center bottom; background-size: 100%; position: absolute; left:0px; bottom:1px;}
.members-tab ul#tabs-nav li a {text-decoration: none; color: #FFF; }
.members-tab .tab-content {padding: 30px 0 0 0; }
.members-tab .tab-content .single-member{ text-align:center; }
.members-tab .tab-content .single-member .member-pic{ margin-bottom:22px; }
.members-tab .tab-content .single-member .member-pic img{ width:100%; height:338px; object-fit:cover; }
.members-tab .tab-content .single-member h4{ color:#03FF00; font-size:27px; line-height:30px; }
.members-tab .tab-content .single-member h6{ font-size:18px; line-height:normal; }

@media (max-width: 767px) {
    .members-tab ul#tabs-nav li { font-size: 23px;}    
    .members-tab .tab-content {padding: 20px 0 0 0; }
}
/* Tabs End*/

/*ESGSection*/
.esg-section{background-color: #000000; background-repeat:no-repeat; background-size:cover; padding: 200px 0 200px 0;}
.esg-section .esg-content{ background-color: rgba(0, 0, 0, 0.5); padding: 50px; max-width: 687px; margin-left: auto; }
.esg-section .esg-content h2{margin-bottom: 50px;}
.esg-section .esg-content h2 span{ font-weight: 600; }

/*Ecommerce page*/
/*social-media-section*/
.social-media-section{background-color: #151517; padding: 100px 0 75px 0;}
.social-media-section .title h2{ text-align: center; margin-bottom: 50px;}
.title h2 i{background-image: url(../images/love-o.svg); background-repeat: no-repeat; width: 44px; height: 38px; display: inline-block; margin: 0 -5px 0 8px;}

.overview-section{ background-color:#000; padding:100px 0 100px 0; background-repeat:no-repeat; background-size:cover; }
.overview-section .overview-content{ max-width: 1070px; margin-left: auto; margin-right: auto; text-align:center; margin-bottom:42px; }
.overview-section .overview-content h3 strong{ color: #03FF00;}
.overview-section .overview-content h3 span{ font-weight: 600;}
.overview-section .overview-content h4{ font-size: 27px; }
.overview-section .overview-content h4 span{ font-weight: 600;}
.overview-section .overview-content h5{ font-size: 24px; }
.overview-section .overview-content h5 span{ font-weight: 600;}